.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  padding-top: 20px;
  color: #61dafb;
  font-size: 50px;
  font-family: "Faster One";
}

.App-container {
  padding-top: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 8vmin;
  pointer-events: none;
  vertical-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContainer {
  text-align: center;
  height: 100%;
}

.innerContainer {
  max-width: 648px;
}

.flexContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.goToText {
  font-size: 20px;
  color: rgb(223, 111, 167);
  font-weight: bolder;
  text-shadow: 2px 2px #000000;
}

a:link {
  text-decoration: none;
}

.arrow {
  width: 100px;
  padding-left: 10px;
  padding-right: 30px;
  transform: rotateZ(-10deg);
}

.arrowl {
  width: 100px;
  padding-left: 10px;
  padding-right: 30px;
  transform: scaleX(-1) rotateZ(-10deg);
}

.box {
  border-style: solid;
  border-radius: 15px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 400px;
}

.componentList {
  border: 1px dashed #61dafb;
  border-radius: 15px;
  background-color:  #282c34;
  width: 100%;
  font-size: 17px;
  margin-bottom: 2px;
}

.cursor-pointer{
  cursor: pointer;
}

.itemHeader {
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemContent {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
}

.arrowDown {
  cursor: pointer;
  height: 4vmin;
  color: #61dafb;
}

.arrowUp {
  cursor: pointer;
  height: 4vmin;
  color: #61dafb;
  transform: rotateZ(-180deg);
}

.right {
  position: relative;
  float: right;
}
.left {
  position: relative;
  float: left;
}

h1 {
  font-size: calc(8px + 2vmin);
}

p {
  font-size: calc(17px);
}

.btn-group button {
  background-color: #61dafb;
  border: 1px solid black;
  color: black; 
  width: 140px; 
  height: 50px;
  font-size: 17px;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.focused button {
  background-color: white;
  outline: 0;
}

button:hover {
  background-color: white;
  cursor: pointer;
}

.result-container{
  min-width: 700px;
  flex-wrap: wrap;
  display: flex;
}

.result-container ul{
  flex-wrap: wrap;
  display: flex;
}

.result-container li{
  display: flex;
 justify-content: flex-start;
 background:  #2b2f36
}

ul {
  list-style-type: none;
  display: flex;
  padding-right: 40px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.padding-right {
  padding-right: 50px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

label {
  padding: 5px;
}

input[type=submit] {
  background-color: #61dafb;
  border: 1px solid black;
  color: black; 
  height: 30px;
  width: 100%;
  font-size: 17px;
  border-radius:6px;
}
input[type=submit]:hover:not(:disabled) {
  background-color: white;
  cursor: pointer;
}
input[type=submit]:disabled {
  background-color: #b5b8b9;
  border: 1px solid black;
  color: black; 
}

input[type=text] {
  background-color: #ebebeb;
  color: black; 
  height: 25px;
  width: 200px;
  font-size: 15px;
  border-radius:6px;
}

select {
  background-color: #ebebeb;
  color: black; 
  height: 30px;
  font-size: 15px;
  padding-left: 15px;
}
